#body #infofield { color: #2d2d2d; font-size: 17px; width: auto; }

#L1 { margin-top: 16px !important; }

.vlt2 { height: 33px; margin-left: -390px; width: 390px; }

.renewed { font-size: 13px; float: left; margin-top: 7px; margin-left: 10px; }
.renewed > a { color: #005a1d; }

#L2 { font-size: 13px; padding-top: 35px !important; height: 80px; }
#L2 #date { margin-left: 10px; overflow: visible; width: 225px; }
#L2 .dp { position: absolute; top: 172px; border: 1px solid #f0f2f3; padding: 7px; background: #ffffff; display: none; }
#L2.lines { width: 816px; margin: auto; padding-left: 100px; }
#L2 .line { height: 40px; padding-left: 10px; }
#L2 .line1 .input-bg { padding: 0; }
#L2 .line2 .elem4 { font-size: 13px; padding-left: 40px; padding-right: 20px; }
#L2 .line2 .elem5 { margin-right: 205px; width: 131px !important; }
#L2 .line2 .elem5 input { width: 103px; }
#L2 .line2 .elem5 .btn { margin-left: 3px; }
#L2 .line2 .elem6, #L2 .line1 .elem6 { font-size: 13px; margin-right: 20px; }
#L2 .line2 .elem7, #L2 .line1 .elem7 { width: 133px; background: url('../img/input_bg.png') repeat-x; border: 1px solid #d5d7d9; border-top: 1px solid #b7bbbf; height: 21px; margin-top: -4px; }
#L2 .line2 .elem7 input, #L2 .line1 .elem7 input { width: 106px; font-size: 13px; background: inherit; padding-left: 5px; border: none; height:inherit; }
#L2 .line1 .elem7 .btn img { margin-left: 5px; margin-top: 6px; }
#L2 .line1 .elem6, #L2 .line1 .elem7, #L2 .line2 .elem6, #L2 .line2 .elem7 { float: right; }
#L2 .cb { width: 15px; height: 15px; margin-left: 4px; margin-top: 2px; float: left; }
#L2 .cb img{ margin-top: -3px; margin-left: -2px; }
#L2 .cb1 { background-color: #91da50; }
#L2 .cb2 { background-color: #c2c4c1; }
#L2 .cb3 { background-color: #fb928f; }
#L2 .hasDatepicker { float: left; width: 226px; }
#L2 #datepicker { width: 196px; height: 20px; }

#L3 { height: 20px; margin-top: 15px !important; font-size: 13px; width: 816px !important; padding-left: 100px; }
#L3 .make-copy { float: left; width: 150px; position: relative; font-size: 13px; }
#L3 .make-copy input { display: inline; width: 50px; }
#L3 .make-copy .error { position: absolute; display: none; background: #ffffff; padding: 10px; border: solid 1px #2d2d2d; color: #ff0000; left: -50px; top: -70px; }
#L3 #print1 { margin-right: 4px; }
#L3 #export-as { width: 35px; }

#L3 #export { width: 56px; margin-left: 12px; height: 21px; border: 1px solid #d5d7d9; margin-top: 0; }
#L3 #export-list { height: 20px; border: 0; }
#L3 #previewref { width: 455px; padding-left: 10px; }
#L3 div { font-size: inherit; }
#L3 .txt { margin-top: 3px; }

#L1 .txt { margin-top: 5px; }

#L2 .txt { margin-top: 1px; }
#L2 #preset { color: #223a55; }

#post-block { cursor: pointer; }
#src-block { cursor: pointer; }
#uniq-block { cursor: pointer; }
#value-block { cursor: pointer; }
#engage-block { cursor: pointer; }

.a-dotted { border-bottom: 1px dotted; }

#L2 #preset a { border-bottom: 1px dotted; }

#body #infofield #dyn { color: #00434f; font-size: 24px; font-weight: bold; }

#L4 { height: 93px; margin-top: 18px !important; margin-right: auto; width: 816px !important; padding-left: 100px; }
#L4 .item { padding-left: 16px; padding-right: 16px; padding-top: 10px; border-right: 1px dotted #e9e9e9; min-width: 75px; }
#L4 .fill { width: 815px; height: 66px; border-right: none; }
#L4 .nosub { padding-bottom: 10px; }
#L4 .a { background-color: #f8f8f8; }
#L4 .b { background-color: #f4f4f4; }
#L4 .c { background-color: #f8f5e5; }
#L4 .sub { padding-left: inherit; padding-right: inherit; margin-top: 10px; margin-left: -16px; width: 100%; height: 32px; background: url('../img/sub.png') repeat-x; }
#L4 .sub div { margin-top: 5px; }
#L4 .sub p { font-size: 13px; }
#L4 .sub .sub-gr { margin-left: -12px; }
#L4 .sub .sub-txt { margin-right: -15px; padding-top: 8px; }
#L4 .sub a { border-bottom: 1px dotted; color: #3f7e5c; }
#L4 .h { font-size: 25.48px !important; }
#L4 p { text-align: center; font-size: 13px; }

#L5 { margin-top: 18px !important; height: 150px; width: 806px !important; padding-left: 110px; }
#L5 #resources { width: 180px; padding-right: 20px; }
#L5 #cities { width: 190px; padding-right: 20px; }
#L5 #promouters { margin-right: 20px; }
#L5 .h, #L6 .h, #L7 .h { color: #2d2d2d; font-size: 17px; }
#L5 a { text-decoration: underline; }
#L5 a.a-dotted { text-decoration: none; }
#L5 td { font-size: 12px; }
#L5 .pie-diag { margin-right: 0; }

.t { width: 9px; height: 9px; }
.t1 { background-color: #7f7bdb; }
.t2 { background-color: #c0ac97; }
.t3 { background-color: #b0c78f; }
.t4 { background-color: #c09797; }
.t5 { background-color: #97c0c0; }
.t6 { background-color: #86c4d1; }

#L6 { margin-top: 50px !important; width: 806px !important; padding-left: 110px; }
#L6 #l6h { height: 25px; }
#L6 #l6hh { width: 750px; }
#L6 .print { margin-left: 4px; }

#L7 table { margin-top: 10px; }
#L7 table th { font-size: 13px; font-weight: normal; text-align: left; color: #a5a5a5; height: 33px; }
#L7 table .bl { color: #001f3f; }
#L7 #promouters { margin-left: 54px; }

#lines-diagramm { width: 851; height: 281px; }

#L7 { height: 280px; }
#L7 #tags { width: inherit; margin-right: 60px; }
#L7 #cloud-block { margin-top: 20px; line-height: 1.5; }
#L7 #cloud { color: #337655; padding-bottom: 7px; white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }
#L7 #cloud .c1 { font-size: 12px; }
#L7 #cloud .c2 { font-size: 12px; }
#L7 #cloud .c3 { font-size: 12px; }
#L7 #cloud .c4 { font-size: 20px; }
#L7 #cloud .c5 { font-size: 26px; }
#L7 #cloud .c6 { font-size: 34px; }
#L7 .vl { height: 200px; }
#L7 .seemore { margin-left: 2px; }
#L7 .seemore a { font-size: 13px; border-bottom: 1px dotted; }

.export-list { background-color: #ebeff1; border: 1px solid #aebbca; display: block; height: auto; left: 483px; margin-right: -111px; margin-top: 44px; min-width: 198px; max-height: 300px; overflow-y: scroll; padding-bottom: 3px; padding-left: 1px; position: absolute; vertical-align: bottom; z-index: 2; font-size: 13px; }
.export-list_upper { background: url('../img/upper_string.png') no-repeat; display: inline; height: auto; left: 793px; margin-right: -111px; margin-top: 34px; min-width: 198px; padding-bottom: 11px; padding-left: 1px; position: absolute; vertical-align: bottom; z-index: 400; font-size: 13px; }

.td_border_bottom { border-bottom: 1px solid #aebbca; }

table.dialog-List2 { border-top: 1px solid silver; border-bottom: 1px solid silver; border-collapse: collapse; }
table.dialog-List2 td { border-bottom: 1px dashed silver; font-size: 12px; }

#cities-table, #resources-table, #words-table, { padding-top: 4px; }

.seemore a.a-dotted { font-size: 12px; margin-left: 2px; }

.scrollbar3 { width: 270px; clear: both; margin: 0px 0 10px; float: left; }
.scrollbar3 .viewport { width: 255px; height: 320px; overflow: hidden; position: relative; }
.scrollbar3 .overview { list-style: none; position: absolute; left: 0; top: 0; }
.scrollbar3 .thumb .end { background: transparent url('../img/bg-scrollbar-thumb-y.png') no-repeat 50% 0 }
.scrollbar3 .thumb { background: transparent url('../img/bg-scrollbar-thumb-y.png') no-repeat 50% 100% }
.scrollbar3 .scrollbar { position: relative; float: right; width: 15px; background: transparent url('../img/bg-scrollbar-track-y.png') no-repeat 0 0; }
.scrollbar3 .track { height: 100%; width: 13px; position: relative; padding: 0 1px; background: transparent url('../img/bg-scrollbar-trackend-y.png') no-repeat 0 100%; }
.scrollbar3 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.scrollbar3 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.scrollbar3 .disable { display: none; }

#cloud span { cursor: pointer; }
#cloud span:hover { border-bottom: 1px dashed; }

#home-url { text-decoration: underline; color: #518a38; }
#home-url:hover { text-decoration: none; }

#compare-block { height: 26px; width: 140px; text-align: center; padding: 20px 5px; }

#L4 #compare-block a { display: inline-block; border: solid 1px #b7bbbf; background: #cccccc; padding: 2px 5px; color: #555555; }
#L4 #compare-block a:hover { color: #333333; }

.filter-btn { background: url("../img/bg2.png") repeat-x 0 0; height: 100px; padding-top: 16px; width: 186px; position: absolute; top: -116px; text-align: left; left: 0; }
.filter-btn a { font-size: 16px; }
.filter-btn #tone_toggle { background-color: #CCCCCC; border-bottom: 1px solid #E1E3DF !important; color: #FFFFFF; font-weight: bold; padding: 5px; font-size: 13px; }
.filter-btn #dyn { color: #00465E; font-weight: bold; font-size: 17px; white-space: nowrap; margin-bottom: 8px; overflow: hidden; position: relative; }
.filter-btn #dyn .hide-long-text-list { margin: 0; position: absolute; left: 90px; top: 0; height: 25px; width: 100px; }
.hide-long-text-list {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(253,252,243,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(253,252,243,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(253,252,243,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(253,252,243,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(253,252,243,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(253,252,243,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fdfcf3',GradientType=1 ); /* IE6-9 */
}

.tree-dd {
	border: 1px solid #999999;
    height: 115px;
    margin-top: 21px;
    overflow: auto;
    position: relative;
    width: 180px;
    z-index: 100;
	background-color: #FFFFFF;
	display:none;
}

.L2-bg { background: url("../img/bg2.png") repeat-x 0 0; border-bottom: 1px solid #f0f2f3; }

.diagram-settings { height: 23px; margin-bottom: 10px; }
.diagram-settings>div { background: url("../img/input_bg.png"); height: 21px; float: left; margin-right: 10px; margin-left: 5px; border: solid 1px; border-color: #B7BBBF #D5D7D9 #D5D7D9; }
.diagram-settings>div .btn img { margin: 6px 5px 0; }

.diagram-settings>label { float: left; font-size: 12px; line-height: 23px; }
.diagram-settings>button { background: url("../img/input_bg.png"); height: 23px; float: right; margin-right: 2px; border: solid 2px #B7BBBF; display: block; padding: 0 5px; cursor: pointer; }
.diagram-settings>button:hover { background: #D5D7D9; border-color: #999999; }

#graph_data_loader { position: absolute; top: 0; left: 0; height: 281px; width: 806px; background: url("../img/ajax-loader.gif") no-repeat center center #fff; display: none; }
#graph_data_error { position: absolute; top: 0; left: 0; height: 281px; width: 806px; background: #fff; display: none; text-align: center; line-height: 250px; color: #FB928F; }

#tdd-number_property.dropdown dd ul { max-height: 250px; }