* { margin: 0; padding: 0; border: 0; font-family: "Tahoma", "Lucida Grande", "Verdana", sans-serif; font-size: 12px; }

html, body { height: 100%; }

a:link {color:#3e3f43;}
a:visited {color:#3e3f43;}
a:hover { text-decoration: none; color:#3e3f43; }
a:active { text-decoration: none; color:#3c6087; }

#wrap { min-height: 100%; }

#main { overflow: auto; padding-bottom: 30px; width: 1000px; }

.highlight { background-color: yellow }

#footer { color: #3c6087; position: relative; margin-top: -30px; height: 30px; clear: both; }
#footer #footer_content { line-height: 30px; margin: 0px auto 0px; }

#header { background: #3c6087 url("/img/wobot_lk_logo.gif") no-repeat; color: white; height: 56px; border-top: 2px solid #03274d; border-bottom: 2px solid #03274d; }
#header #header_content { width: 914px; line-height: 56px; margin-left: /*16*/0px; }
#header #header_content #header_menu { float: right; width: 400px; }

.head_menu { float: left; display: inline; }
.head_menu li { float: left; margin-right: 4em; }
.head_menu li .rate { font-weight: 600; }
.head_menu li a { color: #efefef; }

.foot_menu { float: left; display: inline; }
.foot_menu li { float: left; margin-right: 3.4em; margin-left: 0.6em; }
.foot_menu li a { color: #3c6087; }

.no_bullet { list-style: none; }

.bullet { list-style: square inside; padding-left: 1em; }

.bubbleInfo { position: relative; }

.popup { color: #ddd; position: absolute; display: none; background: #444444; width: 600px; padding: 1em; text-align: justify; z-order: 10; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.popup p { color: #ddd; line-height: 1.2em; margin-bottom: 0.5em; }
.popup h3 { color: #ddd; font-size: 16px; margin: 0px; padding-left: 1em; }

#copyright { float: right; margin-right: 1em; }


#window
{
	position: absolute;
	left: 200px;
	top: 100px;
	width: 400px;
	height: 300px;
	overflow: hidden;
	display: none;
}
#windowTop
{
	height: 30px;
	overflow: 30px;
	background-image: url(/img/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}
#windowTopContent
{
	margin-right: 13px;
	background-image:url(/img/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}
#windowMin
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
}
#windowMax
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	display: none;
}
#windowClose
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
#windowBottom
{
	position: relative;
	height: 270px;
	background-image: url(/img/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
#windowBottomContent
{
	position: relative;
	height: 270px;
	background-image: url(/img/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
#windowResize
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize;
}
#windowContent
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 2px solid #ccc;
	height: 255px;
	width: 375px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
}
#windowContent *
{
	margin: 10px;
}
.transferer2
{
border: 1px solid #6BAF04;
background-color: #B4F155;
	filter:alpha(opacity=20); 
	-moz-opacity: 0.3; 
	opacity: 0.3;
}

